<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.gms.permission.BIND_GET_INSTALL_REFERRER_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />



    <uses-feature android:name="android.hardware.camera" android:required="true" />

    <application
        android:name=".Application"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ServeSync"

        android:restoreAnyVersion="true"
        android:hardwareAccelerated="false"
        android:largeHeap="true">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="YOUR_GOOGLE_MAPS_API_KEY"/>

        <meta-data
            android:name="com.google.firebase.appcheck.v2"
            android:value="true" />



        <!-- Google Play Services Metadata -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />


        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="face" />

        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="face" />

        <!-- CameraX Metadata -->
        <meta-data
            android:name="androidx.camera.lifecycle.ProcessCameraProvider"
            android:value="androidx.camera.camera2.Camera2Config" />


        <activity
            android:name=".Login"
            android:exported="true"
            android:theme="@style/Theme.ServeSync">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.ServeSync">
        </activity>

        <activity
            android:name=".Register"
            android:exported="true"
            android:theme="@style/Theme.ServeSync">
        </activity>

        <activity
            android:name=".FaceRegister"
            android:exported="true"
            android:theme="@style/Theme.ServeSync">
        </activity>

    </application>

</manifest>